.card {
  background-color: rgb(24, 24, 24);
  width: 80%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Necessário para ::before */
  border-radius: 1em; /* Igual ao do ::before */
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  border: 1px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.6px; /* borda fina */
  background: linear-gradient(45deg, #3c2751, #1b1b42, #213b3b, #8a6419); /* cores mais suaves */
  border-radius: 1em;
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude; /* Chrome */
  -webkit-mask-composite: destination-out; /* Safari */
  filter: brightness(0.9) saturate(0.7); /* reduz intensidade */
}



.texto {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.6;
  text-align: justify;
  padding: 2rem 0;
}

.navegacao {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  margin-top: 0px;
}

.navegacao button {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

