.card {
  background-color: rgb(24, 24, 24);
  width: 80%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.6;
  text-align: justify;  
  padding: 2rem 0;
}
