.projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 2em;
  height: 100%;
}

.projeto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: var(--card-projetos);
  border-radius: 1em;
  padding: 2px; /* espaçamento para simular borda */
  overflow: hidden;
  z-index: 1;
}



.projeto:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.projeto img {
  width: 100%;
  object-fit: cover;
}

.projeto p {
  font-size: 1em;
  color: var(--cor-texto);
  text-align: center;
  padding: 1em;
}

.projeto button {
  background-color: var(--cor-botao);
  margin: 0 0 1em 0;
  color: var(--cor-texto);
  border-radius: 0.5em;
  cursor: pointer;
}

.projeto button a {
  color: var(--cor-texto);
}
.projeto button:hover {
  background-color: var(--cor-botao-hover);
  color: var(--cor-texto);
  transition: all 0.3s ease;
}
